
	body{
		
		font-family: "roboto", sans-serif ; 
	}

	h1{
	color:#FFFFFF;
	font-family: "muli", sans-serif;
	font-size: 40px;
	}

	h2{
		color: #000000;
		font-family: "muli", sans-serif;
		font-weight: bold;
		font-size: 40px;
		padding-bottom: 50px;
		text-align: center;
	}

	h3{
		font-family: "muli", sans-serif;
	}

	#logo{
		width: 100px;
	}

	.spacer{
	height: 4em;
	}

	.btnrose{
		color: white;
		background-color: #F55B63;
		border: none;
	}

	.navbar-transparent{
		background-color: rgba(255,255,255,0.95);
	}

	.navbar-transparent .navbar-brand,
	.navbar-transparent .navbar-nav > li > a {
	  color: #000000;
	  line-height: 50px;
	  font-family: "muli", sans-serif;
	}

	.navbar-transparent .navbar-nav > li > a:hover,
	.navbar-transparent .navbar-nav > li > a:active,
	.navbar-transparent .navbar-nav > li > a:focus,
	.navbar-transparent .navbar-nav > .open > a,
	.navbar-transparent .navbar-nav > .open > a:hover,
	.navbar-transparent .navbar-nav > .open > a:focus {
	  color: #F55B63;
	  font-family: "muli", sans-serif;
	}

	.navbar-transparent .navbar-brand:hover,
	.navbar-transparent .navbar-brand:active,
	.navbar-transparent .navbar-brand:focus {
	  color: #F55B63;
	}

	.logotop{
	height: 30px;
	width: auto;
	position: absolute;
	padding-top: 20px;
	}


	#banner{
		background-image: url(../Images/accueil.jpg);
		height: 550px;
		background-size: cover ;
		padding-top: 100px; 
		padding: 50px; 
		text-align: center;
		text-shadow:2px 2px 5px rgba(0,0,0,0,5);
	}

	#banner h1{
		font-size: 40px;
		margin-bottom: 1em;
	}

	.mail{
	color: white;
	background: rgba(255,255,255,0);
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom-color: white;
	}

	.input-group{
		background: rgba(255,255,255,0);
		padding-left: 300px;
		padding-right:250px;


	}

	.form-control{
		color: white;
		background-color: rgba(255,255,255,0);
	}

	#basic-addon1{
		background-color: rgba(255,255,255,0);
		border: none;
		font-size: 16px;
	}

	#pagedeux{
		text-align:center;
		padding: 10px;
	}

	.ccm {
	width: 100px;
	}

	.feature p{
	letter-spacing: 1px;
	}

	.feature img{
		margin-bottom: 2em;
	}

	.feature h3{
		margin-bottom: 1em;
	}


<!-- Comment ca marche -->

<!-- A propos de Fit'in -->

<!-- Contactez nous -->